@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html * {
    font-family: "Plus Jakarta Sans", sans-serif;   
}

/* color */

:root {
    --primary: #2E323B;
    --accent: #FFCE1A;
    --dark: #1A1C20;
    --light : #ffff;
    --text : #C1C1C1;
    --grey : #BBBBBB;
  }

/* background-color */

.dark-bg {
    background-color: var(--dark);
}

.primary-bg {
    background-color: var(--primary);
    color: var(--light);
}

.accent-bg {
    background-color: var(--accent);
}

/* color */

.primary-color {
    color: var(--primary); 
}
.accent-color {
    color: var(--accent); 
}
.dark-color {
    color: var(--dark); 
}
.light-color {
    color: var(--light); 
}
.text-color {
    color: var(--text); 
}
.grey-color {
    color: var(--grey); 
}

/* font-color */

.h-color {
    color: var(--light);
}

.t-color {
    color: var(--text);
}

/* font-weight */

.fw-sm {
    font-weight: 200;
}

.fw-df {
    font-weight: 400;
}

.fw-md {
    font-weight: 500;
}

.fw-lg {
    font-weight: 600;
}

.fw-xl {
    font-weight: 700;
}

/* icon */

.icon-btn-a {
    background-color: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.icon-area-a {
    width: 136px; 
    border: solid 1px; 
    border-color: var(--primary); 
    border-radius: 50px;
    text-decoration: none;
    color: var(--primary);
}

.icon-stock {
    border: solid 1px; 
    border-color: var(--primary); 
    border-radius: 50px;
    text-decoration: none;
    color: var(--primary);
}

.icon-btn-b {
    background-color: var(--light);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.icon-btn-c {
    background-color: var(--accent);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.icon-btn-d {
    border: solid 1px var(--accent);
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.icon-area-b {
    width: 132px; 
    border: solid 1px; 
    border-color: var(--light); 
    border-radius: 50px;
    text-decoration: none;
    color: var(--light);
}

/* cards */

.card-box {
    border: solid 0.5px;
    border-color: var(--light);
    width: 424px; 
    border-radius: 15px;
}

.card-port {
    background-color: var(--primary);
    width: 640px; 
    border-radius: 15px;
}

/* others */

.cform {
    border: none;
    border-bottom: 1px solid var(--accent);
}

.ccontainer {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

body h4 {
    color: var(--grey);
    width: 326px;
}

body h3 {
    color: var(--grey);
}

h1 {
    overflow: hidden;
    text-align: center;
  }
  
  h1::before,
  h1::after {
    background-color: var(--light);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h1::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1::after {
    left: 0.5em;
    margin-right: -50%;
  }

  .hero-text {
    font-size: 8vw;
    color: var(--light);
  }

  .yellow-span {
    color: var(--accent);
  }

.field-group{
    position: relative;
    padding-top: 15px;
}

.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--accent);
    padding: 10px 0;
    background-color: #4E5461;
    padding-left: 15px;
    font-size: 2em;
    color: var(--light);
    transition: 0,3s ease;
  }

.input-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: var(--text);
    transition: 0.3s ease;
    padding-left: 15px;
    top: -15px;
  }

.input-field::placehorder {
    color: transparent;
}

input:placeholder-shown ~ .input-label {
    font-size: 2em;
    top: 25px;
}

.input-field:focus{
    border-image: linear-gradient(to right, var(--accent));
    border-image-slice: 1;
}

.input-field:focus ~ .input-label {
    display: block;
    position: absolute;
    top: -20px;
    font-size: 1.25em;
    color: var(--accent);
}
